@import url('https://fonts.googleapis.com/css?family=Roboto|Marck+Script|Oswald:400,700');


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body * {
  /* transition: all .3s ease-out; */
  line-height: 0.9;
}

::selection {
  background: #FFDE00;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h4, p {
  margin: 0;
}

button:focus {
  outline: none;
}

#app_bg_1 {
    background: no-repeat center center ;
}
#app_bg_2
{
    background: no-repeat center center ;
}

#app_bg_3
{
    background: no-repeat center center ;
}
.hell {
    height: -webkit-fill-available;
}

#ad_1{
    height: 60vh;
    width:250px;
    position: fixed;
    bottom: 0;
}
#ad_2{
    height: 40vh;
    width: calc(100vw - 500px);
    position: fixed;
    bottom: 0;
    margin-left: 250px;
}
#ad_3{
    height: 60vh;
    width:250px;
    position: fixed;
    bottom: 0;
    right: 0;
}

